{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MercApp</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/bolsa.ico' %}" type="pestaña">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/Footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
<style>
          @media (max-width: 768px) {
            .navbar-brand img {
                height: 90px; /* Ajusta el tamaño del logo en pantallas pequeñas */
                width: 60px;
                margin-right: -10%;
            }
            .navbar-letra img{
                width: 160px;
                margin-left: -10%;

            } 
        }
        .img-fluid {
            max-width: 100%; /* Hace que las imágenes se adapten al contenedor */
            height: auto;
        }

        h3, p {
    font-family: 'Poppins', sans-serif;}

</style>

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'Principal' %}"> 
                <img src="{% static 'images/bolsa.png' %}" alt="logo" height="100" width="100"/>
            </a>
            <a class="navbar-letra" href="{% url 'Principal' %}">
                <img src="{% static 'images/letranegra.jpg' %}" alt="logo" height="60" width="250"/>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'Principal' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'Nosotros' %}">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'Productos' %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Carrito' %}">
                            <i class="fas fa-shopping-cart"></i><span id="cart-count"></span>
                        </a>
                    </li>
                    {% if CustomUser.is_authenticated %}
                        <pre>{{ CustomUser.username }}</pre>
                    <li class="nav-item">
                        <span class="nav-link">Hola, {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>     <header class="slider-main">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                
                <div class="carousel-item active" style="background-image: url('{% static 'images/Primera.jpeg' %}')">
                    <div class="carousel-caption">
                        <h3>Bienvenidos a MercApp</h3>
                        <p>Supermercado en línea: rápido, fresco y seguro</p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('{% static 'images/Segunda.jpeg' %}')">
                    <div class="carousel-caption">
                        <h3>Siempre en movimiento, en un mismo lugar</h3>
                        <p>Transforma tu manera de comprar</p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('{% static 'images/Tercera.jpeg' %}')">
                    <div class="carousel-caption">
                        <h3>De la mano con nuestros campesinos</h3>
                        <p>Apoyamos productos nacionales </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <footer class="footer">
        <div class="footer-section">
            <h4>Redes Sociales</h4>
            <div class="social-icons">
                <a href="#" title="WhatsApp">
                    <img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp" style="width: 40px; height: 40px;"><br>

                </a>
                <a href="#" title="Instagram">
                    <img src="{% static 'images/instagram.png' %}" alt="Instagram" style="width: 40px; height: 40px;"><br>

                </a>
            </div>
        </div>

        <div class="footer-section">
            <h4>Contactos</h4>
            <ul class="contact-info">
                <li>📞 Teléfono: (57) 313-261-7684</li>
                <li>✉️ Email: wonpeña@gmail.com</li>
                <li>🏢 Km 0, Sogamoso - Duitama</li>
                <li>🏪 (Corporiente Puesto N° 85-86)</li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Horario de Atención</h4>
            <ul class="support-info">
            <li>🕖 Horario: Lunes-Viernes 7:00 - 17:00</li>
            </ul>
        </div>


        <div class="footer-section">
            <h4>Soporte Técnico</h4>
            <ul class="support-info">
                <li>📞 Soporte:<br>
                    (57) 323-418-8262<br>
                    (57) 313-246-2532<br>
                    (57) 324-381-5478<br>
                    (57) 310-882-4073<br>
                </li>
                <li>✉️ Soporte Email: soporte@MercApp.com</li>
                <li>💻 Horario: Lunes-Viernes 9:00 - 18:00</li>
            </ul>
        </div>

        <div class="copyright">
            <h6>© 2025 MercApp. Todos los derechos reservados.</h6>
        </div>

    </footer>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/sienna.js' %}"></script>
</body>
</html>