.asw-menu-btn {
    background-color:#2596be!important;
    top: 80%;
}
.asw-menu-header {
    background: #2596be !important;
    color: #fff;
}

.asw-footer {
    background:  #2596be !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: #2596be !important;
    color: #fff;
}
